section {
    text-align: center;
    font: bold, serif;
    background: #ffffff73;
    padding: 16px;
    margin: 10px;

}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #052a06;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #8c9e8d;
}

.container {
    border-radius: 5px;
    background-color: #1801e6;
    padding: 20px;
}

.mr-lr-30p {
    margin-left: 30%;
    margin-right: 30%;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

#form-container {
    border: 2px rgb(44, 165, 187) solid;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.red {
    color: #eb1c3a;
}

.blue {
    color: #1d0daf;
}
